//colores
$color-white: #fff;
$color-isabelline:#eeeded; 
$color-letter: #000;
$color-letter-secundary: #a2a2a2;
$color-efecto: #454545;
$color-button: #4ca866;
$color-button--secundary: #9dcfab;
$color-details:#e4572e;
$color-details-secundary:#3c91e6;
$color-amarillo: #eacb31;
//tamaño de letras
$title: 4.4rem;
$subtitle:2.5rem;
$subtitle-secundary:1.8rem;
$paragraph:1.12rem;
$paragraph-secundary:.8rem;